<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.mobile.house_arrest</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.mobile.house_arrest</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>UserName</key>
	<string>mobile</string>
	<key>MultipleInstances</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/mobile_house_arrest</string>
	</array>
</dict>
</plist>
