<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>CFFIXED_USER_HOME</key>
		<string>/private/var/mobile/</string>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>com.apple.mobile.storage_mounter</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.mobile.storage_mounter</key>
		<true/>
		<key>com.apple.mobile.storage_mounter.xpc</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/MobileStorageMounter</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.mobile.storage_mounter.detached</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOUSBHostDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>removable</key>
						<true/>
					</dict>
				</dict>
				<key>IONotificationType</key>
				<string>IOServiceTerminate</string>
				<key>IOProviderClass</key>
				<string>IOBlockStorageDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.mobile.storage_mounter.attached</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOUSBHostDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>removable</key>
						<true/>
					</dict>
				</dict>
				<key>IOProviderClass</key>
				<string>IOBlockStorageDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.mobile.ptp_camera</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOUSBHostDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>removable</key>
						<true/>
					</dict>
				</dict>
				<key>IOProviderClass</key>
				<string>IOUSBHostInterface</string>
				<key>bInterfaceClass</key>
				<integer>6</integer>
				<key>bInterfaceSubClass</key>
				<integer>1</integer>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
