<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ServiceIPC</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/VoiceServices.framework/Support/voiced</string>
	</array>
	<key>OnDemand</key>
	<true/>
	<key>UserName</key>
	<string>mobile</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.voiceservices.tts</key>
		<true/>
		<key>com.apple.voiceservices.keepalive</key>
		<true/>
		<key>com.apple.voiced</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.apple.voiced</string>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamMemoryLimit</key>
		<real>8000</real>
		<key>JetsamPriority</key>
		<integer>-49</integer>
		<key>TransactionTimeLimitEnabled</key>
		<true/>
		<key>TransactionTimeLimitTimeoutDelta</key>
		<integer>60</integer>
		<key>TransactionTimeLimitMaxTimeout</key>
		<integer>300</integer>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.MobileAsset.VoiceServices.VoiceResources.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServices.VoiceResources.new-asset-installed</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceServices.CustomVoice.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServices.CustomVoice.new-asset-installed</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceServices.GryphonVoice.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServices.GryphonVoice.new-asset-installed</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceServicesVocalizerVoice.cached-metadata-updated</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice.cached-metadata-updated</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceServices.CustomVoice.cached-metadata-updated</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServices.CustomVoice.cached-metadata-updated</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
