<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.calaccessd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.calendarnotification.uitrigger</key>
		<true/>
		<key>com.apple.calaccessd</key>
		<true/>
		<key>com.apple.calaccessd.xpc</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.calaccessd.bulletins</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.calendar.daemon.identityorphancleanup</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Delay</key>
				<real>86400</real>
				<key>GracePeriod</key>
				<integer>86400</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>AllowBattery</key>
				<false/>
				<key>RequireScreenSleep</key>
				<true/>
			</dict>
			<key>com.apple.calendar.daemon.idlechangetrackingclientcleanup</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Delay</key>
				<real>28800</real>
				<key>GracePeriod</key>
				<real>28800</real>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>AllowBattery</key>
				<false/>
				<key>RequireScreenSleep</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>SignificantTimeChangeNotification</key>
			<dict>
				<key>Notification</key>
				<string>SignificantTimeChangeNotification</string>
			</dict>
			<key>com.apple.mobilecal.timezonechanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobilecal.timezonechanged</string>
			</dict>
			<key>_CalDatabaseChangedNotification</key>
			<dict>
				<key>Notification</key>
				<string>_CalDatabaseChangedNotification</string>
			</dict>
			<key>kCalEventOccurrenceCacheChangedNotification</key>
			<dict>
				<key>Notification</key>
				<string>kCalEventOccurrenceCacheChangedNotification</string>
			</dict>
			<key>CalSyncClientBeginningMultiSave</key>
			<dict>
				<key>Notification</key>
				<string>CalSyncClientBeginningMultiSave</string>
			</dict>
			<key>CalSyncClientFinishedMultiSave</key>
			<dict>
				<key>Notification</key>
				<string>CalSyncClientFinishedMultiSave</string>
			</dict>
			<key>com.apple.locationd.started</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.locationd.started</string>
			</dict>
			<key>com.apple.mobile.keybagd.first_unlock</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobile.keybagd.first_unlock</string>
			</dict>
			<key>com.apple.mobilecal.preference.notification.calendarsExcludedFromNotifications</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobilecal.preference.notification.calendarsExcludedFromNotifications</string>
			</dict>
			<key>com.apple.locationd.vehicle.connected</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.locationd.vehicle.connected</string>
			</dict>
			<key>com.apple.locationd.vehicle.disconnected</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.locationd.vehicle.disconnected</string>
			</dict>
			<key>EKNotificationCountChangedExternallyNotification</key>
			<dict>
				<key>Notification</key>
				<string>EKNotificationCountChangedExternallyNotification</string>
			</dict>
			<key>com.apple.mobilecal.invitationalertschanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobilecal.invitationalertschanged</string>
			</dict>
			<key>com.apple.navd.wakeUpForHypothesisUpdate</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.navd.wakeUpForHypothesisUpdate</string>
			</dict>
			<key>com.apple.calendar.database.preference.notification.suggestEventLocations</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.calendar.database.preference.notification.suggestEventLocations</string>
			</dict>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/CalendarDaemon.framework/Support/calaccessd</string>
	</array>
	<key>UserName</key>
	<string>mobile</string>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamPriority</key>
		<integer>-49</integer>
		<key>JetsamMemoryLimit</key>
		<integer>7700</integer>
	</dict>
	<key>ThrottleInterval</key>
	<integer>4</integer>
	<key>EnablePressuredExit</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
</dict>
</plist>
