<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.apple.subridged</string>
	<key>UserName</key>
	<string>mobile</string>
	<key>GroupName</key>
	<string>mobile</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/SoftwareUpdateBridge.framework/Support/subridged</string>
	</array>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.subridged</key>
		<true/>
		<key>com.apple.private.alloy.otaupdate-idswake</key>
		<true/>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
</dict>
</plist>
