<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.LaunchServices.applicationRegistered</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationRegistered</string>
			</dict>
			<key>com.apple.LaunchServices.applicationUnregistered</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationUnregistered</string>
			</dict>
			<key>com.apple.LaunchServices.applicationStateChanged</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationStateChanged</string>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.duet.expertcenter.appRefresh</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duet.expertcenter.appRefresh</string>
			</dict>
			<key>com.apple.proactive.queries.databaseChange</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.proactive.queries.databaseChange</string>
			</dict>
			<key>com.apple.duetexpertd.mm.bluetoothdisconnect</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.mm.bluetoothdisconnect</string>
			</dict>
			<key>com.apple.duetexpertd.ms.nowplayingpause</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.ms.nowplayingpause</string>
			</dict>
			<key>com.apple.duetexpertd.ms.nowplayingplay</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.ms.nowplayingplay</string>
			</dict>
			<key>com.apple.duetexpertd.ms.carplaydisconnect</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.ms.carplaydisconnect</string>
			</dict>
			<key>com.apple.duetexpertd.ms.carplayconnect</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.ms.carplayconnect</string>
			</dict>
			<key>com.apple.pex.connections.focalappchanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.pex.connections.focalappchanged</string>
			</dict>
			<key>com.apple.duetexpertd.appchangeprediction</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.appchangeprediction</string>
			</dict>
			<key>com.apple.duetexpertd.mm.audiodisconnect</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.duetexpertd.mm.audiodisconnect</string>
			</dict>
			<key>com.apple.coreduetd.knowledgebase.launch.duetexpertd</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.coreduetd.knowledgebase.launch.duetexpertd</string>
			</dict>
			<key>com.apple.springboard.homescreenunlocked</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.springboard.homescreenunlocked</string>
			</dict>
			<key>com.apple.Preferences.ResetPrivacyWarningsNotification</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.Preferences.ResetPrivacyWarningsNotification</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.duet.expertcenter.activity.training</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Interval</key>
				<integer>86400</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>AllowBattery</key>
				<false/>
				<key>RequiresClassA</key>
				<true/>
			</dict>
			<key>com.apple.duet.expertcenter.activity.dailylogging</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Interval</key>
				<integer>54000</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>AllowBattery</key>
				<true/>
				<key>RequiresClassA</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>Label</key>
	<string>com.apple.duetexpertd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.corespotlight.receiver.duetexpertcenter</key>
		<true/>
		<key>com.apple.duet.expertcenter</key>
		<true/>
		<key>com.apple.duet.appPrediction.inspection</key>
		<true/>
		<key>com.apple.duet.appPreference.prediction</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/usr/libexec/duetexpertd</string>
	<key>UserName</key>
	<string>mobile</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/duetexpertd</string>
	</array>
</dict>
</plist>
