<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Program</key>
	<string>/usr/local/bin/abm-helper</string>
	<key>UserName</key>
	<string>_wireless</string>
	<key>Label</key>
	<string>com.apple.abm-helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.abm-helper.xpc</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
