<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamMemoryLimit</key>
		<integer>4000</integer>
		<key>JetsamPriority</key>
		<integer>-49</integer>
	</dict>
	<key>Label</key>
	<string>com.apple.searchd</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.LaunchServices.applicationUnregistered</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationUnregistered</string>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.spotlightui.prefschanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.spotlightui.prefschanged</string>
			</dict>
			<key>com.apple.datamigrator.migrationDidFinish</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.datamigrator.migrationDidFinish</string>
			</dict>
			<key>com.apple.corespotlight.developer.ReindexAllItems</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.corespotlight.developer.ReindexAllItems</string>
			</dict>
			<key>com.apple.corespotlight.developer.ReindexAllItemsWithIdentifiers</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.corespotlight.developer.ReindexAllItemsWithIdentifiers</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.searchd.expirations</key>
			<dict>
				<key>Interval</key>
				<real>86400</real>
				<key>Delay</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<real>43200</real>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>PowerNap</key>
				<true/>
				<key>Priority</key>
				<string>Maintenance</string>
			</dict>
			<key>com.apple.searchd.updateAppMetadata</key>
			<dict>
				<key>Interval</key>
				<real>86400</real>
				<key>Delay</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<real>43200</real>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<false/>
				<key>PowerNap</key>
				<true/>
				<key>Priority</key>
				<string>Maintenance</string>
			</dict>
			<key>com.apple.searchd.sendmlfeedback</key>
			<dict>
				<key>Interval</key>
				<integer>86400</integer>
				<key>Delay</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<integer>0</integer>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>PowerNap</key>
				<true/>
				<key>Priority</key>
				<string>Maintenance</string>
			</dict>
			<key>com.apple.searchd.reindex</key>
			<dict>
				<key>Interval</key>
				<real>86400</real>
				<key>Delay</key>
				<real>43200</real>
				<key>GracePeriod</key>
				<real>86400</real>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<false/>
				<key>PowerNap</key>
				<true/>
				<key>Priority</key>
				<string>Maintenance</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.searchd</key>
		<true/>
		<key>com.apple.searchd.background</key>
		<true/>
		<key>com.apple.spotlight.IndexAgent</key>
		<true/>
		<key>com.apple.spotlight.SearchAgent</key>
		<true/>
	</dict>
	<key>NoEnvironmentVariables</key>
	<dict>
		<key>no_DYLD_INSERT_LIBRARIES</key>
		<string>/usr/lib/libgmalloc.dylib</string>
		<key>no_MallocStackLoggingNoCompact</key>
		<string>1</string>
		<key>MallocStackLogging</key>
		<string>1</string>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/Search.framework/searchd</string>
	</array>
	<key>UserName</key>
	<string>mobile</string>
</dict>
</plist>
